<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string></string>
			<key>LSHandlerRank</key>
			<string>Default</string>
		</dict>
		<dict/>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>ヒラギノ角ゴ Std W0.otf</string>
		<string>ヒラギノ角ゴ Std W1.otf</string>
		<string>ヒラギノ角ゴ Std W2.otf</string>
		<string>ヒラギノ角ゴ Std W3.otf</string>
		<string>ヒラギノ角ゴ Std W4.otf</string>
		<string>ヒラギノ角ゴ Std W5.otf</string>
		<string>ヒラギノ角ゴ Std W6.otf</string>
		<string>ヒラギノ角ゴ Std W7.otf</string>
		<string>ヒラギノ角ゴ Std W8.otf</string>
		<string>ヒラギノ角ゴ Std W9.otf</string>
	</array>
</dict>
</plist>
